* {
    margin: 0%;
    padding: 0%;
}

:root {
   --light: #f6edb1;
   --blue: #5ab2ff;
   --lightb: #a0deff;
   --textcolor: rgb(0, 0, 77);
}

body {
    font-family: 'Times New Roman', sans-serif, serif; /*font style and color make it easy for viewers*/
    display:flex;
    flex-direction: column;
    background-color: var(--blue);

}

a {
    align-self: flex-end;
    color: var(--light); /*bringing the buttons to life making them more enticing */
    transition: all 1s ease-out;
}

.grow {
    transition: all .2s ease-out; /*wanted to add effects to bring more satisfaction to viewers*/
}

.grow:hover {
    transform: scale(1.1);
}


h2 {
    font-size: 40px;
    text-align: center;
    color: var(--light);
    background-color: var(--lightb);
    width: 50%;
    margin: auto;
    border: 5px solid var(--light);
    border-radius: 5px;
}

h3 {
    margin: auto;
    text-decoration: underline;
}

h3 {
    transition: all .5s;

}

h3:hover {
    transform: rotate(2deg);
}

.header {
    background-color: var(--blue);
    border: 5px solid var(--light);
    padding: 2%;
    border-radius: 5px;
}

.h1 {
    padding: 5px;
    margin: auto;
    background-color: var(--dark);
    color: var(--light);
    width: fit-content;
    font-size: 50px;
    border: 5px solid var(--lightb);
    border-radius: 5px;
}

span {
    color: var(--textcolor); /*adding a little compliment to design*/
}

.items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 25px;
    
}

#container {
    width: 80%;
    margin: auto;
    background-color: var(--lightb);
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--light);
    border-radius: 10px;
}

#container img {
    border: 5px solid var(--textcolor);
    border-radius: 5px;
}
/*targeting specific elements within container*/
#container p {
    color: var(--textcolor);
}

img {
    margin: 10px;
    border: 5px solid var(--light);
    justify-self: flex-end;
}

.shrink {
    transition: all .2s ease-in;
}

.shrink:hover {
    transform: scale(.9);
}




p {
    padding: 5px;
    width: fit-content;
    margin-bottom: auto;
    margin-top: auto;
    color: var(--textcolor);
    text-align: center;
    border: 5px solid var(--dark);
}

#Projects {
    width: 65%;
    margin: auto;
    justify-content: center;
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--lightb);
    border-radius: 10px;
}
/*sections/divs and elements set to display flex*/

#Projects h2 {
    color: var(--lightb);
    background-color: var(--light);
    width: auto;
    border: 5px solid var(--lightb);
}

#projects2 {
    width: 80%;
    margin: auto;
    background-color: var(--lightb);
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border: 5px solid var(--light);
    border-radius: 10px;
}

#projects2 h2 {
    color: var(--light);
    background-color: var(--lightb);
    border: 5px solid var(--light);
}

.challengepic img{
    height: 400px;
    width: 500px;
    border: 5px solid var(--lightb);
    border-radius: 5px;
    

}

.currentprjt img {
    float: right;
    height: 200px;
    width: 250px;
    border-radius: 5px;
}

#footerLinks {
    list-style: none;
    text-align: center;
    background-color: var(--lightb);
    color: var(--textcolor); /*easily accessible contact links in a vertical manner*/
    font-size: 20px;
    border: 5px solid var(--light);
    border-radius: 5px;
}

#footerLinks a {
    color: var(--textcolor);
}
 @media screen and (max-width: 768px) {
   body,
   #container,
   #projects2,
   #Projects,  /*making website useable on all devices*/
   #footerLinks,
   .items,
   .header {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
 }